doctype html
html
  head
    title Users catalogue
    link(rel="icon" href="/img/favicon.ico")
  body
    header
      h1 List of users
    main
      each user in users 
        div
          p= user.id
          p= user.name
          p= user.email