<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All articles</title>
</head>
<body>
  <header>
    <h1>All articles</h1>
  </header>
  <main>
    <% articles.forEach(article => { %>
      <div>
        <h3><%= article.title %></h3>
        <p><%= article.content %></p>
      </div>
    <% }) %>
  </main>
</body>
</html>